.search {
    margin-top: 15px;
    font-family: $title_font;
    display: flex;
    gap: 10px;
    
}

.input-search {
    width: 200px;
    height: 25px;
    padding-left: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
}
.button {
    height: 25px;
    border-radius: 5px;
    border: none;
}

