.header-div {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    width: 200px;
    border: solid 5px black;
    height: 50px;
    border-radius: 15px;
    
}
.header-div:hover {
    text-shadow: #5E0B15 8px 8px;
    transition: 400ms;
    z-index: 999;
}
.header {
    transition: text-shadow 0.8s linear 0.4s;
    background: #f1bd57;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    
}
.title {
    font-family: 'Lobster', cursive;
    
}