.body {
    background: linear-gradient(#ECE4B7, #FC9F5B);
}

.title2 {
    font-family: $title_font;
    margin-top: 25px;
    margin-left: 10px;
      
}
.title2:first-letter {
    text-transform: capitalize;
}
.button {
    text-transform: capitalize;
    width: 80px;

}
.search-list {
    list-style: none;
}
.back {
    margin-left: 25px;
}

