.body {
    background: linear-gradient(#F4C95D, #DD7230);
    
}

.title2 {
    font-family: $title_font;
    
}
.title2:first-letter {
    text-transform: capitalize;
}
.button {
    text-transform: capitalize;
    width: 80px;

}
.search-list {
    list-style: none;
}
.back {
    margin-left: 25px;
}
