.section-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container-fav {
    height: 100vh;
    border: 5px solid black;
}
.search-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
   
}
.container-search {
    width: 900px;
    border: 5px solid black;
}
.search-list {
    .title2 {
        margin-top: 25px;
        margin-left: 15px;

}
}
.list-anime {
    margin-top: 15px;
    display: grid;
    justify-items: center;
    align-content: space-between;
    background-color: #A0C1D1;
    border-radius: 30px;
    height: 350px;
    
}
.img-list {
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
}
.favorite {
    background-color: #5A7D7C;
}