.section-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container-fav {
    height: 100vh;

}
.search-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
   
}
.container-search {
    width: 900px;
    
}
.search-list {
    .title2 {
        margin-top: 25px;
        margin-left: 15px;

}
}
.list-anime {
    margin-top: 15px;
    display: grid;
    justify-items: center;
    align-content: space-between;
    background-color: #A0C1D1;
    border-radius: 30px;
    height: 350px;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.15);
    
}
.list-anime:hover {
    transition: 300ms;
    transform: scale(1.1);
}
.img-list {
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
}

.container-fav .h3 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin: 15px;
    font-family: $title_font;
}
.container-search .h3 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin: 15px;
    font-family: $title_font;

}
.favourites {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-right: 20px;
    color: white;
    
   
}
.fav {
    background-color: #498C8A;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.15);
}
.fav:hover {
    transition: 300ms;
    transform: scale(1.1);

}
